.focalboard-body .RightControlsContainer-eacbOh {
    flex-basis: auto;
}

.focalboard-body .feature-global-header>header {
    /* stylelint-disable */
    z-index: 1000;
    /* stylelint-enable */

    .Menu {
        a,
        button {
            color: inherit;

            &:hover {
                background: rgba(var(--center-channel-color-rgb), 0.08);

                div {
                    color: rgb(var(--link-color-rgb));
                }
            }
        }
    }
}

.boards-rhs-header-logo {
    display: inline-flex;
    margin-right: 8px;
    vertical-align: middle;
}
